/* Selector Universal */
*{   
    box-sizing: border-box;
}
   
/* Selector de etiqueta*/
body{
    background-color: #f1ecea;
    color: white;
    padding: 0;
    margin: 0;
}
nav{
    display: flex;
    flex-direction: row;
    background-color: #b46424;
}
nav a{
    color: white;
    padding: 14px 20px;
    text-decoration: none;

}
nav a:hover{
    color: crimson;
    text-decoration: none;
    list-style: none;
}
section{
    flex: 60%;
    padding: 20px;
    background-color: #362f2f;

}
aside{
    flex: 100px;
    background-color: #b58c7c;
    padding: 20px;

}
footer{
    padding: 20px;
    text-align: center;
    background-color: #3a251c;

}
   
/* Selector de clase*/
.texto{
    text-align: justify;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    padding: 5px 25px;
    color: #fff;

}
   
.img{
    width: 100px;
    border-radius: 1px;
    padding: 5px;
    justify-items: center;
   
}
.encabezado-articulo{
    padding: 10px;
    text-align: center;
    margin: 1em 2rem;
    border-radius: 5px;
   
}
.encabezado-aside{
    padding: 10px 10px;
    text-align: center;
    color: white;
    margin: iem 2em;
       
}
.menu-aside{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    padding: 0 25px;
}
.lista-aside{
    padding: 10px;
 
}
.lista-aside li{
    display: flex;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    padding: 0 2px;
    list-style: square;
    color: #000;

}
   
/* selector ID */
#encabezado{
    width: 15%;
    background-color: #3a251c;
    margin: 1em;
    border-radius: 5px;
    padding: 0 50px;
   
}
/* Selector de etiqueta */
ul{
    text-align: center;
    padding: 10px;
   
}
li{
    display: inline;
    padding: 10px 30px;
    margin: 3em;
   
}

/* selector de clase*/
.row{
    display: flex;
    flex-wrap: wrap;

}
@media screen and (max-width:700px) {
    nav,.row{
        flex-direction: column;
    }
    
}